@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* Global Styles */
:root {
    --primary-color: #1abc9c;
    --off-white: #f4f4f4;
    --dark-gray: #333;

    /* Fonts  */

    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--poppins);
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

.brand {
    display: flex;
    align-items: center;
}

.brand h1 {
    margin: 0;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar-links ul li {
    margin: 0 10px;
}

.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* Hamburger menu styles */
.toggle-button {
    display: none; /* Hide by default */
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    z-index: 1000;
}

.toggle-button .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: background-color 0.3s ease;
}

/* Sidebar navigation styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    padding-top: 60px; /* Adjust based on header height */
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide nav links on small screens */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #333;
        padding-top: 60px; /* Adjust based on header height */
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 99;
    }

    .navbar.active .navbar-links {
        display: block;
        transform: translateX(0);
    }

    .toggle-button {
        display: block; /* Show hamburger menu button */
    }
}

