@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* Global Styles */
:root {
    --primary-color: #1abc9c;
    --off-white: #f4f4f4;
    --dark-gray: #333;

    /* Fonts  */

    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--poppins);
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #1abc9c;
}

