@import url('https://fonts.googleapis.com/css2?family=Poppins&wght@600&wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1abc9c;
    --off-white: #f4f4f4;
    --dark-gray: #333;

    /* Fonts  */
    --poppins: 'Poppins', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--poppins);
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background: #ecf0f1;
}
.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    background: #fff;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
}

span {
    color: gray;
    font-size: small;
    margin: 2rem;
    margin-top: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    margin-top: 2rem;
}

.container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    width: 80%;
    font-family: Poppins;
    font-size: 1rem;
    outline: none;
}

.book-container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    margin-top: 2rem;
}

.book {
    background: #fff;
    color: #333;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.book img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.book button {
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    background: #333
}

.bottom-nav i {
    margin: 1rem;
}